[Desktop Entry]
Type=Application
Name=OpenDock
Comment=Esquinas redondeadas, notch, barra superior y dock
Exec=opendock
Icon=opendock
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
